<!DOCTYPE HTML>
<html>
<head>
    <title>Potogan Application Test</title>
    <meta charset="utf8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Potogan Application Test</h1>
        <p>
            C'est ici que vous devez créer le formulaire comme stipulé dans l'énoncé à la racine du projet (ENONCE.md)<br>
            Vous êtes libre d'utiliser les outils que vous souhaitez. Bootstrap y est déjà présent
        </p>
    </div>
</div>
</body>
</html>
